{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #E8E8E8;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 36px;
    font-weight: 700;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

p {
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: #333;
    margin-bottom: 5px;
}

input {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #F3F3F3;
    font-size: 16px;
    color: #333;
}
#reload-btn {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #b11272;
    font-size: 16px;
    font-weight: 700;
    color: #FFF;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#reload-btn:hover {
    background-color: #f84eb1;
}


button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #b11272;
    font-size: 16px;
    font-weight: 700;
    color: #FFF;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #f84eb1;
}

#output {
    margin-top: 30px;
    text-align: center;
}

#outfit-title {
    font-size: 24px;
    font-weight: 700;
    color: #333;
    margin-bottom: 20px;
}

#outfit-items {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#outfit-items li {
    margin: 10px;
}

#outfit-items img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.logo img {
    width: 150px; /* adjust to desired width */
    height: auto; /* preserves aspect ratio */
    display: block; /* ensure the logo is a block element */
    margin: 0 auto; /* center the logo horizontally */
}
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgb(245, 209, 173); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
}
/* The navigation menu links */

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
}
/* Change the color of links on hover */
.sidenav a:hover {
    color: #9f2c6f;
    background-color: rgb(239, 166, 93);
}
/* Style for the main content */
.main {
    margin-left: 200px; /* Same as the width of the sidebar */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}
.login-form {
    margin: 0 auto;
    max-width: 400px;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0069d9;
}

button {
    background-color: #fff;
    color: #000;
    border: 1.5px solid #0b0007;
;
    padding: 7px 40px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #000;
    color: #fff;
}
button {
    display: block;
    margin: 0 auto;
}
body {
    background-color: rgb(247, 245, 246);
}
.outfit-image {
    width: 300px;
    height: 300px;

}
